<!DOCTYPE html>
<html>
<head>
	<title>Vue 06</title>
</head>
<body>

<div id="app">
	<eat v-for="fruit in fruits" v-bind:item="fruit"></eat>
	<br>
	<eat v-for="vegetable in vegetables" v-bind:item="vegetable"></eat>
</div>

<script src="vue.min.js"></script>
<script>
	Vue.component("eat", {
		props:["item"],
		template: "<div>{{ item }}</div>"
	})

	var app = new Vue({
		el: "#app",
		data: {
			fruits: ["apple","orange","plum"],
			vegetables: ["carrot","cucumber","potatoes"]
		}
	})
</script>
</body>
</html>